task-card {
    display: flex;
    background-color: #fff;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

task-card .bln-badge {
    outline: none !important;
}

task-card .status-label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 55px;
    text-align: center;
    font-weight: bold;
}

task-card .task-data {
    display: flex;
    flex-direction: column;    
    margin-left: 1rem;
    min-height: 100%;
    justify-content: space-between;
    padding-top: .5rem;
}

task-card .task-title {
    font-weight: bold;
    margin-bottom: .5rem;
    font-size: 18px;
}