.pull-to-refresh-container {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pull-to-refresh {
    position: absolute;
    width: fit-content;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #ccc;
    transition: transform .1s linear;
}

.pull-to-refresh bln-spinner {
    position: absolute;
    z-index: 1;
}

.pull-to-refresh bln-spinner,
.pull-to-refresh bln-badge {
    transition: opacity .2s linear;
}

